In [21]:
import numpy as np
import pandas as pd

In [22]:
from numpy.random import randn

np.random.seed(101)

randn(5,4)

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [23]:
df = pd.DataFrame(randn(5,4),index=['A','B','C','D','E'],columns=['W','X','Y','Z'])
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [24]:
df[['W']]

          W
A  0.302665
B -0.134841
C  0.807706
D -0.497104
E -0.116773

In [25]:
df.W

A    0.302665
B   -0.134841
C    0.807706
D   -0.497104
E   -0.116773
Name: W, dtype: float64

In [26]:
type(df.W)
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [27]:
df.loc['D']

W   -0.497104
X   -0.754070
Y   -0.943406
Z    0.484752
Name: D, dtype: float64

In [28]:
df.iloc[3]

W   -0.497104
X   -0.754070
Y   -0.943406
Z    0.484752
Name: D, dtype: float64

In [29]:
df.loc[['A','C'],["W","Z"]] # [Row,Column]

          W         Z
A  0.302665 -1.159119
C  0.807706  0.329646

In [30]:
df[df['W']>0]["Y"]

A   -1.706086
C    0.638787
Name: Y, dtype: float64

In [31]:
df.reset_index()

  index         W         X         Y         Z
0     A  0.302665  1.693723 -1.706086 -1.159119
1     B -0.134841  0.390528  0.166905  0.184502
2     C  0.807706  0.072960  0.638787  0.329646
3     D -0.497104 -0.754070 -0.943406  0.484752
4     E -0.116773  1.901755  0.238127  1.996652

In [32]:
df['status'] = ["CA","NY","TH","EN","JP"]
df

          W         X         Y         Z status
A  0.302665  1.693723 -1.706086 -1.159119     CA
B -0.134841  0.390528  0.166905  0.184502     NY
C  0.807706  0.072960  0.638787  0.329646     TH
D -0.497104 -0.754070 -0.943406  0.484752     EN
E -0.116773  1.901755  0.238127  1.996652     JP

In [34]:
df.set_index('status')

               W         X         Y         Z
status
CA      0.302665  1.693723 -1.706086 -1.159119
NY     -0.134841  0.390528  0.166905  0.184502
TH      0.807706  0.072960  0.638787  0.329646
EN     -0.497104 -0.754070 -0.943406  0.484752
JP     -0.116773  1.901755  0.238127  1.996652