In [3]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame({
    "A" : [1,2,np.nan],
        "B" : [3,np.nan,np.nan],
            "C" : [5,6,7],
})

df

     A    B  C
0  1.0  3.0  5
1  2.0  NaN  6
2  NaN  NaN  7

In [10]:
# drop nan
df.dropna()

     A    B  C
0  1.0  3.0  5

In [11]:
df.dropna(axis=1)

   C
0  5
1  6
2  7

In [12]:
# drop when na >= 2
df.dropna(thresh=2)

     A    B  C
0  1.0  3.0  5
1  2.0  NaN  6

In [14]:
# fill when value is na

df.fillna(value=0)

     A    B  C
0  1.0  3.0  5
1  2.0  0.0  6
2  0.0  0.0  7

In [15]:
meanA = df["A"].mean()
df["A"].fillna(value=meanA)

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64